<template>
    <div id="app">
    <!--<div id="app" class="container-scroller">-->
        <!--<app-login v-if="!auth" />-->
        <!--<app-header v-if="auth" />-->
        <!--<div class="container-fluid page-body-wrapper" v-if="auth">-->
            <!--<app-sidebar/>-->
            <!--<div class="main-panel">-->
                <!--<div class="content-wrapper">-->
                    <router-view></router-view>
                <!--</div>-->
                <!--<app-footer/>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    </div>

</template>

<script>

    import Header from './components/admin/template/Header.vue';
    import SideBar from './components/admin/template/SideBar.vue';
    import Footer from './components/admin/template/Footer.vue';
    import Login from './components/auth/Login.vue';

    export default {
        name: "app"
        ,components: {
            'app-header': Header,
            'app-sidebar': SideBar,
            'app-footer': Footer,
            'app-login': Login
        }
        , computed: {
            auth() {
                return this.$store.getters.isAuthenticated
            }
        }
    };
</script>