<template>
    <div id="admin" class="container-scroller">
        <app-header/>
        <div class="container-fluid page-body-wrapper">
            <app-sidebar/>
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="page-header">
                        <h3 class="page-title">
                          <span class="page-title-icon bg-gradient-primary text-white mr-2">
                            <i class="mdi mdi-home"></i>
                          </span>
                            Dashboard
                        </h3>

                    </div>
                    <div class="row">
                        <div class="col-md-4 stretch-card grid-margin">
                            <div class="card bg-gradient-danger card-img-holder text-white">
                                <div class="card-body">
                                    <img src="../../assets/images/dashboard/circle.svg" class="card-img-absolute"
                                         alt="circle-image"/>
                                    <h4 class="font-weight-normal mb-3">Vendas
                                        <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                                    </h4>
                                    <h2 class="mb-5">R$ {{ dashboards.totalVendas }}</h2>
                                    <!--<h6 class="card-text">Increased by 60%</h6>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 stretch-card grid-margin">
                            <div class="card bg-gradient-info card-img-holder text-white">
                                <div class="card-body">
                                    <img src="../../assets/images/dashboard/circle.svg" class="card-img-absolute"
                                         alt="circle-image"/>
                                    <h4 class="font-weight-normal mb-3">Clientes
                                        <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                                    </h4>
                                    <h2 class="mb-5">{{ dashboards.qtdClientes }}</h2>
                                    <!--<h6 class="card-text">Decreased by 10%</h6>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 stretch-card grid-margin">
                            <div class="card bg-gradient-success card-img-holder text-white">
                                <div class="card-body">
                                    <img src="../../assets/images/dashboard/circle.svg" class="card-img-absolute"
                                         alt="circle-image"/>
                                    <h4 class="font-weight-normal mb-3">Serviços
                                        <i class="mdi mdi-diamond mdi-24px float-right"></i>
                                    </h4>
                                    <h2 class="mb-5">{{ dashboards.qtdServicos }}</h2>
                                    <!--<h6 class="card-text">Increased by 5%</h6>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <app-footer/>
            </div>
        </div>
    </div>
</template>

<script>

    import {mapGetters} from 'vuex';

    // import decode from 'jwt-decode';
    // console.log('decodificando o token');
    // var tokenDecoded = decode(localStorage.getItem('token'));
    // //console.log(Object.values(tokenDecoded));
    // console.log(tokenDecoded.id);

    import Header from './template/Header.vue';
    import SideBar from './template/SideBar.vue';
    import Footer from './template/Footer.vue';

    export default {
        computed: mapGetters({
            dashboards: 'allData'
        }),
        created() {
            this.$store.dispatch('getAllData')
        },
        name: "admin",
        components: {
            'app-header': Header,
            'app-sidebar': SideBar,
            'app-footer': Footer
        }
    };

</script>
