<template>
    <div class="container-scroller" id="login">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth">
                <div class="row w-100">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left p-5">
                            <div class="brand-logo">
                                <img src="../../assets/images/logo.svg">
                            </div>
                            <!--<h4>CRM</h4>-->
                            <!--<h6 class="font-weight-light">Login.</h6>-->
                            <b-form @submit="onSubmit" @reset="onReset" v-if="show" class="pt-3">
                                <div class="form-group">
                                    <!--<input type="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Username">-->
                                    <b-form-input id="exampleInput2"
                                                  type="text"
                                                  v-model="form.username"
                                                  required
                                                  placeholder="Username">
                                    </b-form-input>
                                </div>
                                <div class="form-group">
                                    <!--<input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password">-->
                                    <b-form-input id="exampleInput1"
                                                  type="password"
                                                  v-model="form.password"
                                                  required
                                                  placeholder="Enter password">
                                    </b-form-input>
                                </div>
                                <div class="mt-3">
                                    <!--<a class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" href="../../index.html">SIGN IN</a>-->
                                    <b-button type="submit" variant="primary">Login</b-button>
                                </div>
                                <div class="my-2 d-flex justify-content-between align-items-center">
                                    <!--<div class="form-check">-->
                                        <!--<label class="form-check-label text-muted">-->
                                            <!--<input type="checkbox" class="form-check-input">-->
                                            <!--Mantenha-se logado-->
                                        <!--</label>-->
                                    <!--</div>-->
                                    <a href="#" class="auth-link text-black">Esqueceu a Senha?</a>
                                </div>

                            </b-form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
</template>

<script>

    export default {
        name: "Login",
        data() {
            return {
                form: {
                    password: '',
                    username: ''
                },
                show: true
            }
        },
        methods: {
            onSubmit: function (evt) {
                evt.preventDefault();
                this.$store.dispatch('doLogin', JSON.stringify(this.form))
            },
            onReset(evt) {
                evt.preventDefault();
                this.form.password = '';
                this.form.username = '';
                this.show = false;
                this.$nextTick(() => {
                    this.show = true
                });
            }
        }
    };
</script>

<!--<style lang="scss" scoped>-->

    <!--@import '../../assets/scss/style.scss';-->

<!--</style>-->
