<template>

    <div id="cliente" class="container-scroller">
        <app-header/>
        <div class="container-fluid page-body-wrapper">
            <app-sidebar/>
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Clientes</h4>
                                <p class="card-description">
                                    Listar todos os clientes
                                </p>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>
                                            Razão Social
                                        </th>
                                        <th>
                                            Nome Fantasia
                                        </th>
                                        <th>
                                            CNPJ
                                        </th>
                                        <th>
                                            Info
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="c in clientes">
                                        <!--<ul>-->
                                        <!--<li v-for="(cliente, index) in clientes">-->
                                        <!--{{ cliente.nomeFantasia }} - {{ cliente.razaoSocial }}-->
                                        <!--</li>-->
                                        <!--</ul>-->
                                        <td>
                                            {{ c.id }}
                                        </td>
                                        <td>
                                            {{ c.nomeFantasia }}
                                        </td>
                                        <td>
                                            {{ c.razaoSocial }}
                                        </td>
                                        <td>
                                            {{ c.cnpj }}
                                        </td>
                                        <td>
                                            <router-link :to="'/clientes/' + c.id + '/form'" tag="button" class="btn btn-gradient-info btn-fw">Info</router-link>
                                            <!-- <button type="button" class="btn btn-gradient-info btn-fw">Info</button> -->
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!-- <b-pagination size="md" :total-rows="100" v-model="currentPage" :per-page="10">
                                </b-pagination> -->
                            </div>
                        </div>
                    </div>

                </div>
                <app-footer/>
            </div>
        </div>

    </div>

</template>

<script>

    import {mapGetters} from 'vuex'
    import Header from '../template/Header.vue';
    import SideBar from '../template/SideBar.vue';
    import Footer from '../template/Footer.vue';

    export default {
        computed: mapGetters({
            clientes: 'allClientes'
        }),
        created() {
            this.$store.dispatch('getAllClientes')
        },
        name: "Cliente",
        components: {
            'app-header': Header,
            'app-sidebar': SideBar,
            'app-footer': Footer
        },
        data() {
            return {
                currentPage: 1
            }
        }
    };
</script>

<style>

</style>
