<template>

    <div id="clienteForm" class="container-scroller">
        <app-header/>
        <div class="container-fluid page-body-wrapper">
            <app-sidebar/>
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="page-header">
                        <h3 class="page-title">
                            Clientes
                        </h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Clientes</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Formulário</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="row">
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Cliente</h4>
                                    <p class="card-description">
                                        Formulário de Cliente {{ id }}
                                    </p>
                                    <b-form @submit="submit" class="forms-sample">
                                        <!-- <input type="hidden" :value="id" > -->
                                        <input type="hidden" :value="id" id="id" >
                                        <div class="form-group">
                                            <label for="nomeFantasia">Nome Fantasia</label>
                                            <b-form-input id="nomeFantasia"
                                                          type="text" class="form-control"
                                                          v-model="form.nomeFantasia"
                                                          required
                                                          placeholder="Nome Fantasia">
                                            </b-form-input>
                                        </div>
                                        <div class="form-group">
                                            <label for="razaoSocial">Razão Social</label>
                                            <b-form-input id="razaoSocial"
                                                          type="text" class="form-control"
                                                          v-model="form.razaoSocial"
                                                          required
                                                          placeholder="Razão Social">
                                            </b-form-input>
                                        </div>

                                        <div class="form-group">
                                            <label for="cnpj">CNPJ</label>
                                            <b-form-input id="cnpj"
                                                          type="text" class="form-control"
                                                          v-model="form.cnpj"
                                                          required
                                                          placeholder="CNPJ">
                                            </b-form-input>
                                        </div>

                                        <!--<div class="form-group">-->
                                        <!--<label>File upload</label>-->
                                        <!--<input type="file" name="img[]" class="file-upload-default">-->
                                        <!--<div class="input-group col-xs-12">-->
                                        <!--<input type="text" class="form-control file-upload-info" disabled-->
                                        <!--placeholder="Upload Image">-->
                                        <!--<span class="input-group-append">-->
                                        <!--<button class="file-upload-browse btn btn-gradient-primary" type="button">Upload</button>-->
                                        <!--</span>-->
                                        <!--</div>-->
                                        <!--</div>-->

                                        <b-button type="submit" class="btn btn-gradient-primary mr-2">Salvar Cliente
                                        </b-button>
                                        <!--<button class="btn btn-light">Cancel</button>-->
                                    </b-form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <app-footer/>
            </div>
        </div>

    </div>

</template>

<script>

    import {mapGetters} from 'vuex'
    import Header from '../template/Header.vue';
    import SideBar from '../template/SideBar.vue';
    import Footer from '../template/Footer.vue';
    import {Cliente} from "../../../models/Cliente";

    export default {
        name: "ClienteForm",
        components: {
            'app-header': Header,
            'app-sidebar': SideBar,
            'app-footer': Footer
        },
        computed: mapGetters({
            cliente: 'oneCliente'
        }),
        created() {
            this.$store.dispatch('getOneCliente', this.$route.params.id)
        },
        data() {
            return {
                form: {
                    id: null,
                    razaoSocial: '',
                    nomeFantasia: '',
                    cnpj: ''
                },
                show: true,
                id: this.$route.params.id
            }
        },
        methods: {
            submit: function (evt) {
                evt.preventDefault();
                let c = new Cliente(this.form);
                if (id.value == '') {
                   
                    // cadastrar um novo
                    this.$store.dispatch('postCliente', JSON.stringify(c))
                        .then(() => {
                            this.$router.push('/clientes');
                        }).catch(() => {
                            console.log('erro');
                        }
                    );
                    
                } else {
                    
                    c.id = id.value
                    
                    // atualizar um recurso
                    this.$store.dispatch('putCliente', JSON.stringify(c))
                        .then(() => {
                            this.$router.push('/clientes');
                        }).catch(() => {
                            console.log('erro');
                        }
                    );

                }
            }
        }
    };
</script>

<style>

</style>
